
/* For Planshet */
@media screen and (max-width:990px) {
    .gallery_item{
        width: 50%;
    }
}


/* For Mobile */
@media screen and (max-width:600px) {
    nav{
        padding: 0 20px;
    }
    .menu_icon{
        display: block;
    }
    .nav_collection{
        position: fixed;
        top: 0;
        left: -100%;
        width: 70%;
        height: 100vh;
        background-color: #7a039b;
        flex-direction: column;
        padding-top: 60px;
        transition: 1s;
    }
    .show{
        left: 0;
    }
    .nav_item{
        margin-bottom: 20px;
    }

    .title_pc{
        display: none;
    }
    .title_mb{
        display: block;
        color: #fff;
        font-size: 40px;
    }
    .banner{
        background: url("./IMAGE\ \(11\).png") no-repeat center/cover;
        background-attachment: fixed;
    }
    .gallery_item{
        width: 100%;
    }
    .email{
        display: block;
        width: 300px;
        margin-left: -10px;
        height: 300px;
    }
    .email input{
        width: 200px;
        height: 40px;
        margin-left: 50px;
        padding-left: 20px;
    }
    .login_form{
        height: 700px;
        margin-left: 40px;
        width: 300px;
        margin-top: 60px;
    }
    .btn{
        width: 200px;
        margin-left: 50px;
    }
    .info_title{
        color: black;
        font-size: 30px;
        padding-top:50px;
    }

}